jeremyadams.jpg filter=lfs diff=lfs merge=lfs -text
jeremyadams.psd filter=lfs diff=lfs merge=lfs -text
cover_brandon_1200x1600.jpg filter=lfs diff=lfs merge=lfs -text
cover_jeremy_1200x1600.jpg filter=lfs diff=lfs merge=lfs -text
cover_kim_1200x1600.jpg filter=lfs diff=lfs merge=lfs -text
cover_ana_1200x1600.jpg filter=lfs diff=lfs merge=lfs -text
kstramat_bw.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_booklet.pdf filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_face1.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_face3.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_face2.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_poker_cards.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/Standard_Cards_36_on.ai filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/Standard_Cards_1-35.ai filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/Standard_Cards_Token_Space.ai filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_back12.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_back3.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/Equipment.ai filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/Magic_Standard.ai filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_19_hints.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/equip_bow.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_come_and_get_me.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_obsessive_contemplation.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_01_defy_danger.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_13_seek_help.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_14_shop_procure.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_air_sculpting.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_sensation.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_derring_do.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_not_on_my_turf.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_03_bravely_run_away.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_06_defend.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/equip_bracers.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_amiability.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_unerring_dispatch.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_fury.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_good_cardio.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_it_belonged_to_my_father.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/equip_leather_armor.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_bum_rush.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_reach_out_with_your_feelings.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_17_tales_of_a_weapon.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_backstab.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_it_s_a_trap.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_only_here_for_the_job.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_pick_pockets.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_weak_spot.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_10_mix_it_up.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_12_rest.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_apex_predator.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_slide.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/equip_shield.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/equip_sword.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_interference.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_02_take_a_breather.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_channel_the_living_light.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_sangfroid.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/back_equipment_blank.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_16_study_under_a_master.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_illusion.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_telepathy.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_bloody_but_unbowed.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_use_a_magic_item.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_09_good_thing_i_brought.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/equip_many_knives.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_entreat_the_blood_bound.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_go_berserk.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_goreography.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_mystic_breathwork.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_pick_locks.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_04_discern.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_invisibility.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_of_vitality.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_suggestive_subtlety.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/back_magic_blank.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_18_stats.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_breach_the_dam.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_intimidate.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_unknown_benefactor.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_05_i_know_this.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_20_critical_flip.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_where_it_hurts.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/back_standard_blank.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_08_do_a_flashback.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_15_sharpen__stitch.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_mending.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_sigil.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_and_this_is_for.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_fundamental_magic.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_tied_with_her_ribbon.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_11_volley.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_counterspell.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/booklet_07_parley.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/magic_blade_of_echoes.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_called_shot.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_find_shadows.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/tgc_files/move_void_transfusion.png filter=lfs diff=lfs merge=lfs -text
dylan_1kfa_cards/admagic_template.svg filter=lfs diff=lfs merge=lfs -text
